.card {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  align-self: center;
}
.input {
  width: 250px;
  height: 30px;
  border-radius: 10px;
  border: 3px solid var(--fadedBlue);
  padding: 5px 15px;
}
