.card {
  height: 250px;
  display: flex;
  flex-direction: column;
  box-shadow: 5px 10px 5px var(--fadedBlue);
  flex-basis: 25%;
  padding: 20px;
  margin-bottom: 25px;
  border-radius: 15px;
}
.moreDetails {
  align-self: center;
  text-decoration: underline;
  cursor: pointer;
}
.oneLine {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.left {
  align-self: flex-start;
}
.right {
  align-self: flex-end;
}
