.container {
  display: flex;
  flex-direction: column;
  row-gap: 2%;
  align-items: center;
}
.body {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 25px;
}
