* {
  box-sizing: border-box;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.body {
  width: 75%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 70px;
}
.more {
  align-self: center;
  justify-self: center;
  margin-bottom: 70px;
  cursor: pointer;
}
.rtl {
  direction: rtl;
}
