* {
  box-sizing: border-box;
}
.container {
  display: flex;
  flex-direction: column;
  /* row-gap: 2%; */
  align-items: center;
}
.body {
  width: 75%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 25px;
}
