.body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card {
  display: flex;
  flex-direction: column;
  border: 3px solid var(--fadedBlue);
  width: 75%;
  padding: 20px;
  margin-bottom: 25px;
  border-radius: 15px;
}
.medications {
  text-decoration: underline;
  cursor: pointer;
}
.back {
  cursor: pointer;
}
.medicationsBody {
  margin-bottom: 50px;
}
