.body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card {
  display: flex;
  flex-direction: column;
  border: 3px solid var(--fadedBlue);
  width: 75%;
  padding: 20px;
  margin-bottom: 25px;
  border-radius: 15px;
}
.medications {
  text-decoration: underline;
  cursor: pointer;
}
.back {
  cursor: pointer;
  font-size: 40px;
  color: var(--blue);
}
.patientHeader {
  margin: 30px 53px;
  display: flex;
  column-gap: 20px;
  align-items: center;
}
.details {
  margin: 30px 53px 50px 53px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.medicationsBody {
  margin-bottom: 50px;
}
/* Modal styles */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
.modalContent {
  background-color: #fff;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  padding: 20px;
  border-radius: 15px;
}
.closeButton {
  top: 10px;
  right: 10px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-weight: bold;
}
.btnRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 250px;
  align-self: center;
  margin-top: 30px;
}
.btnRow span {
  color: var(--blue);
  text-decoration: underline;
  cursor: pointer;
}
.rtl {
  direction: rtl;
}
