:root {
  --blue: #8ee9ef;
  --fadedBlue: #0cbfc95b;
}
/* weight */
.bold {
  font-weight: bold;
}
.normal {
  font-weight: 500;
}
/* color */
.blue {
  color: var(--blue);
}
/* size */
.big {
  font-size: 20px;
}
.medium {
  font-size: 18px;
}
.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.btn-row {
  display: flex;
  align-items: center;
  align-self: center;
  column-gap: 25px;
}
.blueButton {
  background-color: var(--blue);
  color: white;
}
.btn-shadow {
  box-shadow: 5px 10px 5px var(--fadedBlue);
  background-color: white;
  color: var(--blue);
}
.error {
  color: red;
}
